footer{
  height: 66px;
  background-color: lighten(#000, 15%);
  width: 100%;
  position: relative;
  z-index: 3;
  .center-buttons{
    width: 50%;
    left: 25%;
    position: absolute;
    text-align: center;
  }
  .right-buttons{
    width: 25%;
    right: 0;
    position: absolute;
    text-align: right;
  }
  .footer-button{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0 10px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    background-size: 64px 64px;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
    &.email{
      background-image: url(/images/mail-black-64.png);
      &:hover{
        background-color: #dd4b39;
        background-image: url(/images/mail-white-64.png);
      }
    }
    &.linkedin{
      background-image: url(/images/linkedin-black-64.png);
      &:hover{
        background-color: #0077B5;
        background-image: url(/images/linkedin-white-64.png);
      }
    }
    &.github{
      background-image: url(/images/github-black-64.png);
      &:hover{
        background-image: url(/images/github-white-64.png);
        background-color: black;
      }
    }
  }
}
